@charset "utf-8";
/* CSS Document */

*{ padding:0; margin:0; outline:none;} 
img{ max-width:100%; height:auto;}

ul, h1, h2, h3, h4, h5, h6{ padding:0; margin:0;}

@font-face {
font-family: 'SegoeUIRegular';
font-style: normal;
font-weight: normal;
src:url('../fonts/Segoe%20UI.woff') format('woff');
}


@font-face {
font-family: 'SegoeUI-Italic';
font-style: normal;
font-weight: normal;
src: url('../fonts/Segoe%20UI%20Italic.woff') format('woff');
}


@font-face {
font-family: 'SegoeUIBold';
font-style: normal;
font-weight: normal;
src:url('../fonts/Segoe%20UI%20Bold.woff') format('woff');
}


@font-face {
font-family: 'SegoeUIBoldItalic';
font-style: normal;
font-weight: normal;
src: url('../fonts/Segoe%20UI%20Bold%20Italic.woff') format('woff');
}

body{font-family: 'SegoeUIRegular'; font-size:15px; color:#343434;}
.headerLeftNum{ font-size:38px; color:#f3762c; line-height:40px;}
.header{ padding-top:10px; padding-bottom:50px;}
.headerLeftTxt{ font-size:12px; color:#343434; }

.headerRight ul{ list-style:none; display:flex; justify-content: flex-end;  align-items: center; font-family: 'SegoeUIBold'; font-size:16px;}
.headerRight ul li a{display:inline-block; text-decoration:none;  padding:4px 15px; border-radius:10px;}
.headerRight ul li:nth-child(1) a{background: #30c549; /* Old browsers */background: -moz-linear-gradient(top,  #30c549 0%, #1f8e31 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #30c549 0%,#1f8e31 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #30c549 0%,#1f8e31 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#30c549', endColorstr='#1f8e31',GradientType=0 ); /* IE6-9 */ color:#fff; margin-right:20px; 
-webkit-box-shadow: 0 0 2px 2px #D9D9D9; box-shadow: 0 0 2px 2px #D9D9D9;}
.headerRight ul li:nth-child(1) a:hover{background: #1f8e31; /* Old browsers */ background: -moz-linear-gradient(top,  #1f8e31 0%, #30c549 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #1f8e31 0%,#30c549 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #1f8e31 0%,#30c549 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f8e31', endColorstr='#30c549',GradientType=0 ); /* IE6-9 */
}
.headerRight ul li:nth-child(2) a{ color:#27a83c; border:2px solid #27a83c;}
.headerRight ul li:nth-child(2) a:hover{color:#343434; border:2px solid #343434;}
.headerRight ul li:nth-child(3) a{ margin-top:3px;}
.headerRight ul li:nth-child(3) a span{ display:block; width:20px; height:3px; margin:4px; background:#a1a1a1;}
.homeSearchWrap{ /*background:url(../images/homeSearchBg.png) no-repeat; background-size:cover; min-height:750px;*/ position:relative;}
.homeSearchBlock{ position: absolute; max-width:1200px; width:100%; left: 0; right:0; margin:0 auto;  z-index: 10;  top: -50px;}
.logo{ text-align:center; padding-top:-60px;}
.homeSearchForm{ width:65%; margin:0 auto; padding-top:70px;}
.homeSearchForm input[type="text"]{ width:100%; height:60px; border-radius:30px; border:0; -webkit-box-shadow: 0 0 12px 2px #D9D9D9; box-shadow: 0 0 12px 2px #D9D9D9;
 padding:0 30px;     font-size: 20px;}
 
.homeSearchForm button{ border:0; background:transparent url(../images/searchIcon.png) no-repeat center; height:60px; width:60px;  position: absolute;    
 margin-left: -60px;  background-size: 35px; outline:none;}
.searchBotTxt{ text-align:center; max-width:500px; margin:0 auto; font-size:20px; padding-top:20px;}

.homeSec1{ padding:50px 0;}
.orangeHeading{ font-size:37px; font-family: 'SegoeUIBold'; color:#f3762c; line-height:40px;}
.homeSec1Cont,
.homeSec2Cont{    height: 100%; display: flex; flex-direction: column; /* align-items: center; */ justify-content: center;}
.homeSec1Cont .orangeHeading{ padding-bottom:20px;}
.runningTxt{ font-size:20px; color:#707070;}

.homeSec2{ -webkit-box-shadow: 0 0 22px 0 #b5b5b5; box-shadow: 0 0 22px 0 #b5b5b5; padding:50px; border-radius:50px;}
.greenHeading{ color:#27a83c;}
.homeSec2Img ul{ list-style:none; display:flex;     align-items: baseline;}
.homeSec2Img ul li:nth-child(1){ padding-right:30px;}
.homeSec2Cont .greenHeading{ padding-bottom:20px;}

.keyPrinciples{ text-align:center; margin-top:70px; padding:50px 20px; border-radius:50px; border:5px solid #f3762c; position:relative;}
.keyPrinceHeading{ position:absolute; top:-25px; left:0; right:0;}
.keyPrinceHeading span{ display:inline-block; background:#fff; padding:0 20px;}

.keyPrinceCont .orangeHeading{ font-size:30px; padding:10px 0;}
.keyPrinceCont .runningTxt{ font-size:15px;}
.footerTop{ padding-top:30px; position:relative;}
.footerTopBg img{ width:100%;}
.footerNav{ position:absolute; width:100%; left:0; right:0; bottom:30px;}
.footerNav ul{ list-style:none; display:flex; justify-content: center;}
.footerNav ul li a{ color:#fff; font-family: 'SegoeUIBold'; font-size:18px; margin:0 20px; text-decoration:none;}
.footerNav ul li a:hover{ color:#09741a;}

.footerSocial{ padding:20px 0;}
.footerSocial ul{ list-style:none;   display: flex;  justify-content: center;}
.footerSocial ul li a{ width:40px; height:40px; border-radius:50%; background:#27a83c; display:block; text-align:center; line-height:40px; margin:0 5px;}
.footerSocial ul li a img{ height:22px;}
.footerBot{ background:#27a83c; padding:10px; text-align:center; color:#fff;}

.mobNav{  display: flex; flex-direction: column;align-items: flex-end;     margin-top: 30px; margin-bottom: /*10*/0px;}
.mobNav span{ display:block; width:40px; height:6px; background:#a1a1a0; margin:5px 0;     border-radius: 10px;}
.mobLogo{ max-width:90%; margin:0 auto; padding-top:-100%;} 
.mobileView .homeSearchForm{ width:100%; margin-top: 30px;}
.mobileView .homeSearchForm input[type="text"]{    box-shadow: 0 0 21px 5px #D9D9D9;     -webkit-box-shadow: 0 0 21px 5px #D9D9D9;}
.searchRes ul{ list-style:none; padding-top:40px;     padding-bottom: 40px; display:flex; margin-left:-8px; margin-right:-8px; flex-wrap: wrap;}
.searchRes ul li{ text-align:center; width:25%; padding:8px}
.searchResTxt{ font-size:20px;}
.mobileView .headerLeft{ text-align:center; padding-top: 50px; position:relative; margin-bottom:-50px;}
.mobileView .headerLeftNum{}

.navigation{ position:fixed; background:#fff; width:80%; height:100%; top:0; right:-80%;box-shadow: 0 0 7px 2px #D9D9D9; z-index: 10; -webkit-transition: all 500ms ease-in-out;
-moz-transition: all 500ms ease-in-out; -ms-transition: all 500ms ease-in-out; -o-transition: all 500ms ease-in-out; transition: all 500ms ease-in-out;}
.navLogo{ padding:30px; box-shadow: 0 0 7px 2px #D9D9D9;}
.navigation ul{ list-style:none; padding-top:30px;}
.navigation ul li{}
.navigation ul li a{ display:block; padding:10px;  font-size:14px; color:#333; }
.navClose{ position: absolute; right:10px; top:10px;}
.navClose img{ width:25px;}
.overlay{ position:fixed; width:100%; height:100%; background-color:rgba(0,0,0,.5); top:0; left:0; z-index:5; display:none;}
body.open .navigation{ right:0;}
body.open .overlay{ display:block;}
@media (min-width:1300px){
/*.container{ max-width: 1230px;} */

}

@media(min-width:768px){
.mobileView{ display:none;}

}

@media(max-width:1024px){
.header{ padding-bottom:0;}
.logo{ padding-top:0;}
.homeSearchBlock{ top:20px;}
.searchBotTxt{ font-size:18px;}
.logo img{ height:70px;}
.orangeHeading{ font-size:32px; line-height:38px;}
.homeSec1Cont .orangeHeading { padding-bottom: 10px;}
.footerNav{ bottom:15px;}
.keyPrinceCont .orangeHeading{ font-size:25px;}
}

@media(max-width:767px){
.desktop{ display:none;}
	
}

/*=== Here is the styling for image rounding ===-->*/
.rad {
  border-radius: 30px 30px 30px 30px;
}

